/* Universal */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Roboto, sans-serif;

    --highlight: #0093da;
    --primary: #fab200;
    --bg-color: #e1e8f1;
    --fg-color: #ffffff;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Header */
.header {
    background-color: var(--fg-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

#searchbar {
    background-color: var(--bg-color);
    border-radius: 1rem;
    border-style: none;
    min-width: 200px;
    height: 1.5rem;
    flex: 1;
}

.profile-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.links-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    background-color: var(--primary);
    border-style: none;
    padding: 0.75rem 1.75rem;
    width: 100px;
    border-radius: 2rem;
}

/* Sidebar */
.dash-sidebar {
    background-color: var(--primary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
}

.logo {
    height: 2rem;
}

.logo-container {
    margin: 1rem;
}

ul > li,
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--bg-color);
}

.main-title {
    margin: 2rem 0 0 1rem;
}

.projects {
    grid-column: 1 / 7;
    display: grid;
    grid-template-rows: auto 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.card {
    background-color: var(--fg-color);
    box-shadow: 2px 2px lightgray;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    border-left: 10px solid var(--highlight);
}

.text-content {
    margin: 0.5rem;
    line-height: 1.75rem;
}

.action-content {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 1rem;
}

/* Announcements & Trending */
.main-sidebar {
    grid-column: 7 / 9;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-container {
    background-color: var(--fg-color);
    box-shadow: 2px 2px lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

.announce-card + .announce-card {
    border-top: 1px solid darkgrey;
    margin-top: 0.5rem;
}

.announce-card h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.announce-card p {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.trending-container {
    background-color: var(--fg-color);
    box-shadow: 2px 2px lightgray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    gap: 2rem;
    margin: 1rem;
}

.trend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.trend-tag {
    font-size: 0.75rem;
    font-weight: 200;
}

.trend-name {
    font-weight: 700;
}

/* Icons & Profiles */
.profile-img-small {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.profile-img-large {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}