/* Universal */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --highlight: #0093da;
    --primary: #fab200;
    --bg-color: #e1e8f1;
    --fg-color: #ffffff;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Header */
.header {
    background-color: var(--fg-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

#searchbar {
    background-color: var(--bg-color);
    border-radius: 1rem;
    border-style: none;
}

.profile-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.links-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    background-color: var(--primary);
    border-style: none;
    padding: .75rem 1.75rem;
    width: 100px;
    border-radius: 2rem;
}

/* Sidebar */
.dash-sidebar {
    background-color: var(--primary);
    grid-column: 1 / 2;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--bg-color);
}

.projects {
    grid-column: 1 / 4;
    display: grid;
}

.card {
    background-color: var(--fg-color);
}

.main-sidebar {
    grid-column: 4 / 5;
    display: grid;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-container {
    background-color: var(--fg-color);
    display: flex;
    flex-direction: column;
}

.trending-container {
    background-color: var(--fg-color);
}

.trend {
    display: flex;
}

.trend-tag {
    font-size: .75rem;
}

/* Icons & Profiles */
.profile-img-small {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.profile-img-large {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}